<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解扫描器，作用是对应包下面的类spring都会自动创建对象，使用时直接添加注解-->
    <context:component-scan base-package="com.java"></context:component-scan>

        <!--xml配置和注解配置混合使用-->
        <bean id="person" class="com.java.Person"></bean>
         <bean id="book" class="com.java.Book"></bean>

</beans>